html, body{
  height: 100%;
  margin: 0;
}
body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.clear { clear: both;
}

.white, .black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 float:left;
}
.white{
 background-color:white;
}
.black{
 background-color:#787878;
}

#footer {
  width: 100%;
  padding-top: 10px;
  margin-top:10px;
 background-color:teal;
 text-align: center;
  position: absolute;
  bottom: 0;
}


#container {
  margin:0 auto;
  position: relative;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:teal;
 text-align:center; 
 z-index:10;
  font-family: 'VintagePropagandistRegular';
   font-weight: normal;
   font-style: normal;
 font-size:36px;
}

img {
 margin-left: 5px;
 margin-top:10px;
 }


